# Build artifacts
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates

# Rider
.idea/
*.sln.iml

# ASP.NET Core secrets
secrets.json

# Logs
*.log

# Visual Studio Code
.vscode/

# Publish
publish/
